.wrapper {
  max-width: 103.125rem;
  padding: 3rem;
  margin: 0 auto;
}

.radius {
  border-radius: 5px;
}
.pointer {
  cursor: pointer;
}

body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

.left {
  text-align: left !important;
}

.capitalize {
  text-transform: capitalize;
}
