.add-to-dairy {
  &__form {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__input {
    border: 1px solid rgb(170, 163, 163);
    padding: 0.5rem;
  }
  &__button {
    background-color: $button-color;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }
  &__two-columns {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;
  }
  &__column-left {
    background-color: rgb(231, 230, 230);
    min-height: 31.25rem;
    width: 100%;
    overflow-y: scroll;
  }
  &__column-right {
    min-height: 31.25rem;
    background-color: rgb(231, 230, 230);
    width: 100%;
  }
  &__ul {
    list-style: none;
    font-weight: bold;
    margin-top: 1rem;
  }
  &__table {
    margin: 1rem auto;
  }
  &__thead {
    background-color: grey;
  }
  &__li {
    margin: 0.5rem 0;
  }

  &__td {
    text-align: center;
  }
  &__graph-container {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}

.recharts-wrapper {
  margin: 0 auto;
}
