.add-to-dairy {
  &__back-button {
    background-color: none;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
  }

  &__back-icon {
    background-color: none;
    font-size: 1.25rem;
  }

  &__form {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
  }
  &__popup {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $popup_background;
    padding: 2rem;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    text-align: center;
    color: white;
    font-weight: bold;
  }
  &__popup-button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: white;
    font-weight: bold;
    cursor: pointer;
  }

  &__popup-input {
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
  }

  &__popup-button:hover {
    background-color: rgb(224, 211, 211);
  }
  &__input {
    border: 1px solid rgb(170, 163, 163);
    padding: 0.5rem;
  }
  &__button {
    background-color: $button-color;
    padding: 0.5rem 1rem;
    font-weight: bold;
  }
  &__two-columns {
    display: grid;
    grid-template-columns: 1.5fr 2fr;
    gap: 1rem;
  }
  &__column-left {
    box-shadow: 1px 1px 20px 2px rgb(247, 247, 247);
    min-height: 31.25rem;
    width: 100%;
    overflow-y: scroll;
  }
  &__column-right {
    min-height: 31.25rem;
    box-shadow: 1px 1px 20px 2px rgb(247, 247, 247);
    width: 100%;
  }
  &__ul {
    list-style: none;
    font-weight: bold;
    margin-top: 1rem;
  }
  &__table {
    margin: 1rem auto;
  }
  &__thead {
    background-color: rgb(223, 223, 223);
  }
  &__th {
    padding: 1rem;
  }
  &__li {
    margin: 0.5rem 0;
  }

  &__td {
    text-align: center;
  }
  &__graph-container {
    margin: 0 auto;
    display: block;
    width: 100%;
  }
}

.recharts-wrapper {
  margin: 0 auto;
}

@media (max-width: 81.25rem) {
  .add-to-dairy {
    &__two-columns {
      grid-template-columns: 1fr;
    }
  }
}
