.home {
  background: url("../images/fondo.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  &__intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__button {
    padding: 1.5rem 1rem;

    font-weight: bold;
    background-color: #fbc26e;
  }
}

.intro-text {
  position: relative;
  &__h1 {
    font-size: 6.25rem;
    text-align: center;
  }
}
