.header {
  display: flex;
  justify-content: space-between;
  &__logo {
    font-size: 2rem;
    font-weight: bold;

    color: black;
  }
}

.header__nav {
  display: flex;
  align-items: center;
}
.nav {
  &__ul {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
  &__logout {
    cursor: pointer;
  }
}
